
p {
    margin: 2% 10%;
}

h3 {
    margin-bottom: 3%;
}

img:not(#title):hover {
    transition: transform 0.5s;
    transform: scale(1.3);
}

.flex-container > h1 {
    padding: 0px 50px;
}

.description {
    font-size: 12;
}

.cooldown {
    color: grey;
}

.display {
    display: none;
}

.error {
    padding: 9.5% 0%;

    color: grey;
    font-size: 30px;
}

/* Section Source: tictactoe.css example by Daryl Posnett */
#power-ups{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto;
    max-width: 300px; 
}

#cake {
    margin-top: 10%;
    width: 100%;
}

#buyers {
    flex-direction: column;
    align-items: center;
}

#power-ups button, #buyers button {
    border: none;
    font-size: 25px;
}

#buyers button {
    transform: none; 
}

#active {
    color: cornflowerblue;
    transform: scale(1.5); 
}

@media screen and (max-width: 800px) {
    .flex-container > h1 {
        margin: 1% 0% 1% 0%;
    }
    #cake {
        margin-top: 0%;
        width: 70%;
    }
}