@media screen and (max-width: 600px) {
    #puzzleContainer{
        min-width: 80%;
        aspect-ratio: 1/1;
    }
}


.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}


#puzzleContainer {
    width: 30%;
    background-color: lightpink;
    aspect-ratio: 1/1;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

#puzzleBoard {
    width: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    align-content: space-evenly;
}


.tile {
    display: inline-flex;;
    align-items: center;
    align-content: space-around;
    font-size: 10vh;
    width: 30%;
    aspect-ratio: 1 / 1;
    border:thin solid white;
    align-content: center;
    background-color: lightpink;
    cursor: pointer;
    top: 0;
    left:0;
}

#tile-empty {
    visibility: hidden;
}

.tile:hover {
    background-color: hsl(0, 100%, 80%);
}
